

body{background-color: darkviolet;}
h1{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    font-family: fantasy;
    font-size: 30px;
    display: inline;
    margin: 10px 20px
}
.kek{
    font-family:Apple Chancery, cursive ;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    width: 80vw;
    height: 300px;
    margin: 30px auto auto 30px;
    justify-content: space-between;
}
.abt{
    display: flex;
    align-items: center;
    display: inline;
    justify-content: space-between;
}
#keki{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
}
.kek p{
font-size: 15px;
}
#abt{
    padding: 100px 0;
}
h3{
    text-align: center;
    font-size: 25px;
    text-decoration: underline black;
    font-weight: 600;
}
#about{
    text-align: center;
    font-size: 20px;
}
.tbl1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tbl2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hed{
    text-align: right;
}
#hed2{
    text-align: left;
}
.contact{
    display: flex;
    width: 80vw;
    height: 300px;
    margin: 30px auto auto 30px;
    justify-content: space-between;
}